h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: #F45B69;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    color: #89A894;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    color: #114B5F;
}
